body {
    background-color: #eef;
    -webkit-user-select: none;
}

#heading {
    font-family: MyHelvetica;
    
}

.square {
    position: absolute;
    width: 60px;
    height: 60px;
    margin: 2px;
    box-shadow: 3px 3px 5px #808;
    text-align: center;
    border-radius: 20%;
    -webkit-transition: border-radius 200ms; /* For Safari 3.1 to 6.0 */
    transition: border-radius 200ms;
}

.square:hover {
    border-radius: 28px;
}

.number {
    font-family: MyHelvetica;
    text-align: center;
    vertical-align: middle;
    line-height: 56px;
    font-weight: bold;
    font-size: 50px;
    color: #ddd;
    cursor: default;
}


@font-face {
    font-family: MyHelvetica;
    src: url('Helvetica/helvetica-light.otf');
}

.board {
    height: 600px;
    width: 680px;
}

#container {
    background-color: #ccf;
    margin: auto auto auto auto;
    box-shadow: 0px 0px 20px #f0f;
    position: relative;
    opacity: 0.9
    numGridRows: 6;
}

.title {
    font-family: MyHelvetica;
    text-align: center;
    padding: 0;
}

.background-block {
    background-color: #090;
    box-shadow: 5px 5px 15px #000;
    position: absolute;
    opacity: 0.1;
}

#number-show {
    margin: 0 auto;
    position: absolute;
    background-color: #aaf;
    z-index: 5000;
}

. {
    font-family: MyHeveltica;
}

.number-show-box {
    font-size: 50px; margin: 50px auto; text-align: center; font-family: MyHelvetica
}